/*
By Sydney Lundberg and Victoria Mache
*/

body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f9f9f9;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
#chart,
#chart-hist,
#chart-map {
  width: 90%;
  margin: 0 auto 40px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#chart svg,
#chart-hist svg,
#chart-map svg {
  display: block;
  width: 100%;
  height: auto;
}

#chart path {
  stroke: none;
}

.legend {
  font-family: Arial, sans-serif;
}

.legend-item rect {
  stroke: #ccc;
  stroke-width: 0.5px;
}

.legend-item text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  fill: #333;
}
